{% extends "base.html" %}
{% load i18n %}

{% block main %}
<font color="#2F2F2F"><h2>-</h2></font>
<h1>{{ date|date:'D d/m' }}</h1>
{% include "calendarium/partials/category_list.html" %}
<form action="." method="post">
    {% csrf_token %}
    <font color="#2F2F2F"><input type="submit" name="previous" value="{% trans "Précédent" %}" /></font>
    <font color="#2F2F2F"><input type="submit" name="next" value="{% trans "Prochain" %}" /></font>
    <font color="#2F2F2F"><input type="submit" name="today" value="{% trans "Aujourd'hui" %}" /></font>
</form>
<table class="table">
    <tr>
        <h1><th>{{ date|date:'D d/m' }}</th></h1>
    </tr>
        {% for occurrence in occurrences %}
            <tr><td>{{ occurrence }}</td></tr>
        {% endfor %}
</table>
{% endblock %}
