{% extends "base.html" %}

{% block content %}

    <h1>-</h1>
    <h1>Bienvenue sur mon site</h1>

     <style>
        body{
            background-image: url("../../static/institut/images/test.jpg");
            background-repeat:no-repeat;
            background-position:center center;
            background-attachment:scroll;
        }
    </style>

    <font color="#2F2F2F">
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
    </font>

{% endblock %}
