{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
    <h1><font color="#2F2F2F">-</font></h1>
    <h1>Comment se rendre chez POPI ?</h1>

    <center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1308.3576764649272!2d2.2087281!3d49.0160001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6675722cd0803%3A0x34c62ad631a22a18!2s1+Avenue+de+Verdun%2C+95150+Taverny!5e0!3m2!1sfr!2sfr!4v1489138773894" width="1000" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </center>


    <h1>Horaires</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <br>
          <table class="table table-bordered table-hover table-inverse">
            <colgroup>
              <col class="col-md-2">
              <col class="col-md-4">
            </colgroup>
            <thead>
              <tr>
                <th>Jour</th>
                <th>Heures d'ouverture</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lundi</td>
                    <td>09:00 - 18:00</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>09:00 - 18:00</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>09:00 - 18:00</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>14:00 - 18:00</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>09:00 - 18:00</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>09:00 - 18:00</td>
                </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>





{% endblock %}