{% extends "base.html" %}

{% block title %}Ma page d'accueil{% endblock %}

{% block content %}
    <h1>-</h1>
    <h1>Bienvenue sur POPI's Website</h1>
    <h2>La date actuelle est : {{ date }}</h2>

    <style>
        body{
            background-image: url("../../static/institut/images/clock.png");
            background-repeat:no-repeat;
            background-position:center center;
            background-attachment:scroll;
        }
    </style>

    <font color="#2F2F2F">
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
        <h1>-</h1>
    </font>




{% endblock %}