{% extends "base.html" %}
{% block title %}POPI's Website{% endblock %}


{% block content %}
    {% if id == '1' %}

    <div class="col-xs-5">
        <table class="table table-bordered table-inverse">
            <caption>
                <h4>-</h4>
                <h2>Soins du corps</h2>
            </caption>

            <thead>
                <tr class="">
                    <th style="width:20%;">Nom du soin</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_soins_corps in visu1 %}
            <tr>
                <td>{{ view_soins_corps.name }}</td>
                <td>{{ view_soins_corps.price }}</td>
                <td>{{ view_soins_corps.cost }}</td>
            </tr>
            {% empty %}
                <tr class = "danger">
                <td><i><font color =#b52222>Aucun soin corps disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
                <td><font color =#b52222>-</font></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>



    {% elif id == '2' %}

    <div class="col-xs-5">
        <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Soins du visage</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom du soin</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_soins_visage in visu2 %}
            <tr>
                <td>{{ view_soins_visage.name }}</td>
                <td>{{ view_soins_visage.price }}</td>
                <td>{{ view_soins_visage.cost }}</td>
            </tr>
            {% empty %}
                <tr class = "danger">
                    <td><i><font color =#b52222>Aucun soin visage disponible.</font></i></td>
                    <td><font color =#b52222>-</font></td>
                    <td><font color =#b52222>-</font></td>            
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% elif id == '3' %}
    <div class="col-xs-5">
        <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Epilations</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom de l'épilation</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_epilations in visu3 %}
            <tr>
                <td>{{ view_epilations.name }}</td>
                <td>{{ view_epilations.price }}</td>
                <td>{{ view_epilations.cost }}</td>
            </tr>
            {% empty %}
            <tr class = "danger">
                <td><i><font color =#b52222>Aucune épilation disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
                <td><font color =#b52222>-</font></td>
            </tr>

            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% elif id == '4' %}
    <div class="col-xs-5">
        <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Ongles</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom du service</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_ongles in visu4 %}
            <tr>
                <td>{{ view_ongles.name }}</td>
                <td>{{ view_ongles.price }}</td>
                <td>{{ view_ongles.cost }}</td>
            </tr>
            {% empty %}
            <tr class = "danger">
                <td><i><font color =#b52222>Aucun serices "ongles" disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
                <td><font color =#b52222>-</font></td>
            </tr>

            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% elif id == '5' %}
    <div class="col-xs-5">
        <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Maquillage</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom du service</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_maquillage in visu5 %}
            <tr>
                <td>{{ view_maquillage.name }}</td>
                <td>{{ view_maquillage.price }}</td>
                <td>{{ view_maquillage.cost }}</td>
            </tr>
            {% empty %}
            <tr class = "danger">
                <td><i><font color =#b52222>Aucun serices "maquillage" disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
                <td><font color =#b52222>-</font></td>
            </tr>

            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% elif id == '6' %}
    <div class="col-xs-5">
         <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Produits</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom du produit</th>
                    <th style="width:20%;">Prix de vente</th>
                    <th style="width:20%;">Coût de revient</th>
                </tr>
            </thead>
        <tbody>
            {% for view_produits in visu6 %}
            <tr>
                <td>{{ view_produits.name }}</td>
                <td>{{ view_produits.price }}</td>
                <td>{{ view_produits.cost }}</td>
            </tr>
            {% empty %}
            <tr class = "danger">
                <td><i><font color =#b52222>Aucun produit disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
                <td><font color =#b52222>-</font></td>
            </tr>

            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% elif id == '7' %}
    <div class="col-xs-3">
        <table class="table table-bordered table-inverse">
            <caption>
                <h3>-</h3>
                <h2>Charges</h2>
            </caption>
            <thead>
                <tr class="">
                    <th style="width:20%;">Nom de la charge</th>
                    <th style="width:20%;">Coût de la charge</th>
                </tr>
            </thead>
        <tbody>
            {% for view_charges in visu7 %}
            <tr class="">
                <td>{{ view_charges.name }}</td>
                <td>{{ view_charges.cost }}</td>
            </tr>
            {% empty %}
            <tr class = "danger">
                <td><i><font color =#b52222>Aucune charge disponible.</font></i></td>
                <td><font color =#b52222>-</font></td>
            </tr>

            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row"></div>

    {% else %}
        <h3>-</h3>
        <h4><font color="#2F2F2F">-</font></h4>

        <div class="col-xs-5">
            <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                    Trier
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/institut/one_week">1 semaine</a></li>
                    <li><a href="/institut/one_month">1 mois</a></li>
                    <li><a href="/institut/one_year">1 an</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="/institut/as_you_want">Durée personnalisé</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="/institut/all">Total</a></li>
                  </ul>
            </div>
        </div>

        <div class="row"></div>


        {% if flag_as_you_want %}

            <form action="{% url "as_you_want_2" %}" method="post">
            {% csrf_token %}

                <p><label for="Start_date">Depuis : </label>
                <font color="black"><input type="text" name="Start_date" id="Start_date"/></font>

                <script language="javascript">
                today = new Date();
                if(today.getDate() < 10)
                {
                    if(today.getMonth() < 10)
                    {
                        document.getElementById('Start_date').value = (today.getYear()+1900)+"-"+"0"+(today.getMonth()+1)+"-"+"0"+today.getDate();
                    }
                    else
                    {

                        document.getElementById('Start_date').value = (today.getYear()+1900)+"-"+(today.getMonth()+1)+"-"+"0"+today.getDate();
                    }
                }
                else if(today.getMonth() < 10)
                {
                    document.getElementById('Start_date').value = (today.getYear()+1900)+"-"+"0"+(today.getMonth()+1)+"-"+today.getDate();
                }
                else
                {
                    document.getElementById('Start_date').value = (today.getYear()+1900)+"-"+(today.getMonth()+1)+"-"+today.getDate();
                }
                </script>

                <label for="End_date"> jusque : </label>
                <font color="black"><input type="text" name="End_date" id="End_date" value="{{ End_date }}"/></font>

                <script language="javascript">
                today = new Date();
                if(today.getDate() < 10)
                {
                    if(today.getMonth() < 10)
                    {
                        document.getElementById('End_date').value = (today.getYear()+1900)+"-"+"0"+(today.getMonth()+1)+"-"+"0"+(today.getDate()+1);
                    }
                    else
                    {

                        document.getElementById('End_date').value = (today.getYear()+1900)+"-"+(today.getMonth()+1)+"-"+"0"+(today.getDate()+1);
                    }
                }
                else if(today.getMonth() < 10)
                {
                    document.getElementById('End_date').value = (today.getYear()+1900)+"-"+"0"+(today.getMonth()+1)+"-"+(today.getDate()+1);
                }
                else
                {
                    document.getElementById('End_date').value = (today.getYear()+1900)+"-"+(today.getMonth()+1)+"-"+(today.getDate()+1);
                }
                </script>

                <input type="submit" value="Sélectionner" class="btn btn-primary"/></p>
            </form>

        {% endif %}


        <div class="col-xs-7">
            <table class="table table-bordered table-inverse">
                <caption>
                    <h2>Journées éffectuées</h2>
                </caption>
                <thead>
                    <tr class="">
                        <th style="width:20%;">Date</th>
                        <th style="width:20%;">Chiffre d'affaire</th>
                        <th style="width:20%;">Charges</th>
                        <th style="width:20%;">TVA (20%)</th>
                        <th style="width:20%;">Résultat net</th>
                    </tr>
                </thead>
            <tbody>
                {% for view_journees in visu8 %}
                <tr class="">
                    <td>{{ view_journees.jour }}</td>
                    <td>{{ view_journees.ca }} €</td>
                    <td>- {{ view_journees.costs }} €</td>
                    <td>- {{ view_journees.tva }} €</td>
                    {% if view_journees.result > 0 %}
                        <td><font color =#2BA951>+ {{ view_journees.result }} €</font></td>
                    {% elif view_journees.result < 0 %}
                        <td><font color =#A92B2B>{{ view_journees.result }} €</font></td>
                    {% else %}
                        <td>0 €</td>
                    {% endif %}
                </tr>


                {% empty %}
                <tr class = "">
                    <td><i><font color =#b52222>Aucune journée disponible.</font></i></td>
                    <td><font color =#b52222>-</font></td>
                    <td><font color =#b52222>-</font></td>
                    <td><font color =#b52222>-</font></td>
                    <td><font color =#b52222>-</font></td>
                </tr>

                {% endfor %}


            </tbody>
            </table>
        </div>

        <div class="row"></div>
    {% endif %}

{% endblock %}




